@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

div:has(> .tiptap) {
  flex: auto;
}

/* This prevents the webpage from getting pushed when the menu is opened */
html {
  /* Kind of like a scrollbar placeholder (it is there but not visible) */
  overflow-y: scroll;
}
